<div class='tought-form-container'>
	<a href='/toughts/dashboard'>Voltar</a>
	<h1>Criando Um Pensamento:</h1>
	<form action='/toughts/add' method='post'>
		<div class='form-control'>
			<label for='title'>Pensamento:</label>
			<input type='text' name='title' placeholder='O que está pensando?...' />
		</div>
		<input type='submit' value='Criar Pensamento' />
	</form>
</div>