* {
	font-family: Helvetica;
	margin: 0;
}

h1 {
	text-align: center;
}

#navbar {
	border-bottom: 1px solid #ccc;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

#navbar ul {
	display: flex;
	list-style: none;
	margin: 0;
}

#navbar ul li {
	margin-left: 1rem;
}

.form,
.books-container {
	width: 450px;
	margin: 0 auto;
}

.form-control {
	display: flex;
	flex-direction: column;
	margin: 0.5rem 0;
}

.form-control label {
	font-weight: bold;
	margin-bottom: 0.3rem;
}

.form-control inpút {
	padding: 0.25rem;
}

.bold {
	font-weight: bold;
}
