<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Handlebars</title>
	</head>
	<nav>
		<ul style='display: flex; gap: 3rem; list-style-type: none;'>
			<li>
				<a href='/'>Home</a>
			</li>
			<li>
				<a href='/post'>Post</a>
			</li>
			<li>
				<a href='/blog'>Blog</a>
			</li>
		</ul>
	</nav>
	<body>
		{{{body}}}
	</body>
	<footer>
		Rodapé
	</footer>
</html>